{% extends 'base.html.twig' %}

{% block title %}
	Administration des catégories
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des catégories</h1>
		<a href="{{ path('admin.categories.create') }}" class="btn btn-primary">Créer une catégorie</a>
		<table class="mt-4">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Actif</th>
					<th>Date de création</th>
					<th>Denière modification</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr>
						<td>{{ categorie.id }}</td>
						<td>{{ categorie.name }}</td>
						<td>{{ categorie.enable ? 'Actif' : 'Inactif' }}</td>
						<td>{{ categorie.createdAt|date('Y/m/d H:i:s') }}</td>
						<td>{{ categorie.updatedAt|date('Y/m/d H:i:s') }}</td>
						<td>
							<div class="cell-flex">
								<a class="btn btn-warning" href="{{ path('admin.categories.update', {id: categorie.id}) }}">Modifier</a>
								{% include 'Backend/Categorie/_deleteForm.html.twig' %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
