<div class="card">
	{% if article.imageName %}
		<a href="{{ path('app.articles.details', {id: article.id}) }}"><img class="card-img" src="{{ vich_uploader_asset(article) }}" alt="photo {{ article.title }}" loading="lazy"></a>
	{% endif %}
	<a href="{{ path('app.articles.details', {id: article.id}) }}"><h4>{{ article.title }}</h4></a>
	

	<em>{{ article.createdAt|format_datetime('full', 'none') }}</em>
	<p>{{ article.user.fullName }}</p>
	<p>{{ article.content|length > 150 ? article.content|striptags|slice(0, 150) ~  '...' : article.content|striptags }}</p>
	<p>
		{% for categorie in article.categories %}
			#{{ categorie.name }}
		{% endfor %}
	</p>

	{% if app.request.get('_route') == 'admin.articles.index' %}
		<div class="form-check form-switch" {{ stimulus_controller('switchArticle') }}>
			<input class="form-check-input" type="checkbox" id="switch-visibility-article-{{ article.id }}" {{ article.enable ? 'checked' }} data-article-id="{{ article.id }}"/>
			<label class="form-check-label text-{{ article.enable ? 'success' : 'danger' }}" for="switch-visibility-article-{{ article.id }}">{{ article.enable ? 'Actif' : 'Inactif' }}</label>
		</div>

		<div class="card-btn">
			<a href="{{ path('admin.articles.update', {id: article.id}) }}" class="btn btn-warning">Modifier</a>
			{% include 'Backend/Article/_deleteForm.html.twig' %}
		</div>
	{% endif %}
</div>
